<div style="position: sticky;top:0px;z-index: 99">

<ul>
    <div class="input">
        <input type="hidden" id="cookiename" name="accountName" value = {{username}}>
    </div>
    <li><a href="/contact-us">
        <i class="fas fa-info-circle"></i>
        Contact Us
    </a>
    </li>
    <li id="mybooking">
        <a href="/myfolio">
            <i class="fas fa-address-card"></i>
            myBooking
        </a>
        <script>
            if ("{{username}}" == "administrator"){
                var forum = document.getElementById("mybooking");
                forum.style.display = 'none';
            }
        </script>
    </li>
    <li id = "forum">
        <a href="/discussion-board">
            <i class="fas fa-comments"></i>
            Schedule Management
        </a>
        <script>
            if ("{{username}}" != "administrator"){
                var forum = document.getElementById("forum");
                forum.style.display = 'none';
            }
        </script>
    </li>
    <li class="dropdown"><a class="dropbtn" href="/user">
        <i class="fas fa-user-cog"></i>
        User Center</a>
        <div class="dropdown-content">
            <a href="/user/user-UD">Account Management</a>
            <a id="logout" href="/user/logout">
                Log out
            </a>
            <script>
                var logoutOptin = document.getElementById("logout");
                var cookiename = document.getElementById("cookiename");
                if(cookiename.value == ""){
                    logoutOptin.innerText = "Login";
                }
            </script>
        </div>
    </li>
    <li><a href="/">
        <i class="fas fa-home"></i>
        Home
    </a>
    </li>

    <img class="circle" src="../../resource/default.jpg" width="40" height="40">
    <li class = "username">
        <a>Not logged in</a>
    </li>
</ul>
</div>

<h1>Almost there...</h1>

<section class = "sign-up-block">

    <form action="/user/sign-up/insert" method="post">
        <div class = "text">Choose your avatar here&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div id="fromTx">
            <input type="file" class="file"  name="avatar" id="avatar">
        </div>
        <br><br>
        <div class = "avatar-pic">
        <div>
            <input type="text" name="photo" id="photo" value="../../resource/default.jpg" style="display: none">
        </div>
        <div class="head-p" id="touxiang">
            <img src="../../resource/default.jpg" alt='头像'  width="100" height="100" name="avatar_img" id="avatar_img">
        </div>
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script>
            $("#avatar").change(function () {
                // 拿到文件数据
                var choose_file = $(this)[0].files[0];
                // 截取图片名称小数点后的字符串
                var ftype=choose_file.name.substring(choose_file.name.lastIndexOf(".")+1);
                // 校验格式是否是图片类型
                if(ftype=="jpg" || ftype=="png" || ftype=="jpeg" || ftype == "JPG"){
                    // 限制大小，照片大小不能超过1M
                    var size = choose_file.size / 1024 / 1024;
                    
                    // 实例化一个阅读器对象
                    var reader = new FileReader();
                    // 读取文件的路径，没有返回值,结果在reader.result里
                    reader.readAsDataURL(choose_file);
                    // 读取需要时间，读完后再修改图片路径
                    reader.onload=function () {
                        //回显给上方图片中
                        document.getElementById("photo").value = this.result;
                        $("#avatar_img").attr("src",this.result);
                    }
                }else{
                    alert("only support .jpg/.png/.jpeg file, please try again");
                    return false;
                }
            });
        </script>
        </div>
        <br>
        <hr align=center width=100% color=#FFFFFF size=1>

        <br>
        <div class="sign-up-item">
            <label for="username">Choose your username</label>
            <input type="text" id="accountName" name="accountName" placeholder="Username" style="margin-left: 277px">
        </div>
        <br>
        <div class="sign-up-item">
            <label for="password">Choose a Password with at least 6 characters</label>

            <input type="password" id="inputPassword" name="password" placeholder="Password" style="margin-left: 25px">
            <monkey><hide class="showpw" id="pw" onclick="showpw()" type = button>&#128584;</hide></monkey>
            <script>
                function showpw(){
                    if(document.getElementById("inputPassword").valueOf().type != "text") {
                        document.getElementById("inputPassword").valueOf().type = "text";
                        document.getElementById("pw").innerText = "\uD83D\uDE4A";
                    }else{
                        document.getElementById("inputPassword").valueOf().type = "password";
                        document.getElementById("pw").innerText = "\uD83D\uDE48";
                    }
                }
            </script>
        </div>

        <br>
        <div class="sign-up-item">
            <label for="password">Confirm your password</label>
            <input type="password" id="pw" name="confirmPassword" placeholder="Confirm Password" style="margin-left: 275px">
        </div>

        <br>
        <div>
            <article class="message">
                <div> {{message}} </div>
            </article>
        </div>

        <div class="sign-up-item">
            <label for="schoolname">Enter your school name</label>
            <input type="text" id="fname" name="fname" placeholder="Enter school name" style="margin-left: 275px">
        </div>

        <div class="sign-up-item">
            <label for="snamec">Enter your school contact name</label>
            <input type="text" id="snamec" name="snamec" placeholder="School contact name" style="margin-left: 275px">
        </div>

        <div class="sign-up-item">
            <label for="snumber">Enter your school contact number</label>
            <input type="text" id="snumber" name="snumber" placeholder="Contact number" style="margin-left: 275px">
        </div>

        <br/>
        <article><button type="submit">Sign Up</button></article>

    </form>

</section>

<!--The following code is only used for maintenance of users' information,
hidden form users-->


<!--<section>-->
<!--    <h3>Get all user information</h3>-->
<!--    <a href="/user/sign-up/get-data">Load info</a>-->
<!--    <div>-->
<!--        {{# each items }}-->
<!--            <article class="item">-->
<!--                <div>Username: {{ this.accountName }}</div>-->
<!--                <div>Password: {{ this.password }}</div>-->
<!--                <div>ID: {{ this._id }}</div>-->
<!--            </article>-->
<!--        {{/each}}-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash;&lt;!&ndash;<section class="update">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <h3>Update Cafe</h3>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <form action="/user/sign-up/update" method="post">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div class="input">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <label for="id">ID</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <input type="text" id="id" name="id">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div class="input">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <label for="name">Name</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <input type="text" id="name" name="name">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div class="input">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <label for="address">Address</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <input type="text" id="address" name="address">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div class="input">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <label for="distance">Distance</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <input type="text" id="distance" name="distance">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div class="input">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <label for="rating">Rating</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <input type="text" id="rating" name="rating">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div class="input">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <label for="photo">Photo</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <input type="text" id="photo" name="photo">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <button type="submit">UPDATE</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </form>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</section>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</section>&ndash;&gt;&ndash;&gt;-->
<!--<section>-->
<!--    <h3>Delete Cafe</h3>-->
<!--    <form action="/user/sign-up/delete" method="post">-->
<!--        <div class="input">-->
<!--            <label for="id">ID</label>-->
<!--            <input type="text" id="id" name="id">-->
<!--        </div>-->
<!--        <button type="submit">DELETE</button>-->
<!--    </form>-->
<!--</section>-->
