<!-- reformed nav bar start -->
<div style="position: sticky;top:0px;z-index: 99">
    <ul>
        <li>
            <a href="/contact-us">
                <i class="fas fa-info-circle"></i>
                Contact Us
            </a>
        </li>
        <li id="mybooking">
            <a href="/myfolio">
                <i class="fas fa-address-card"></i>
                myBooking
            </a>
            <script>
                if ("{{username}}" == "administrator"){
                    var forum = document.getElementById("mybooking");
                    forum.style.display = 'none';
                }
            </script>
        </li>
        <li id = "forum">
            <a href="/discussion-board">
                <i class="fas fa-comments"></i>
                Schedule Management
            </a>
            <script>
                if ("{{username}}" != "administrator"){
                    var forum = document.getElementById("forum");
                    forum.style.display = 'none';
                }
            </script>
        </li>
        <li class="dropdown">
            <a class="dropbtn" href="/user">
                <i class="fas fa-user-cog"></i>
                User Center
            </a>
            <div class="dropdown-content">
                <a href="/user/user-UD">
                    Account Management
                </a>
                <div class="input">
                    <input type="hidden" id="cookiename" name="accountName" value = {{username}}>
                </div>
                <a id="logout" href="/user/logout">
                    Log out
                </a>
                <script>
                    var logoutOptin = document.getElementById("logout");
                    var loginOptin = document.getElementById("login");
                    var cookiename = document.getElementById("cookiename");
                    console.log(cookiename.value);
                    if(cookiename.value == ""){
                        logoutOptin.innerText = "Login";
                    }
                </script>
            </div>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <img class="circle" src={{photo}} width="40" height="40">
        <li class = "username">
            <a>{{username}}</a>
        </li>
    </ul>
</div>
<!-- reformed nav bar end -->

<h1>Schedule management</h1>

<h2>Manage the schedule of the travelling bus</h2>


<h2>
    <div>
        {{ message }}
    </div>
</h2>
<table>

    <tr>
        <th>School name</th><th>School type</th>
    </tr>
    {{# each items }}

        <tr>
            <td>
                *<a href = "/myfolio/{{this.accountName}}" class="AuthorName"> {{ this.fname }}</a>
            </td>
            <td>
                *{{this.schooltype}}
            </td>
        </tr>

    {{/each}}
</table>



<script>
    var delReply = function() {
        // var hiderep = document.getElementById("replyyyy");
        // hiderep.id = "deleteee";
        // if(hiderep.id === "deleteee"){
        //     hiderep.style.display = "none";
        // }
    };
</script>
