<!-- reformed nav bar start -->
<div style="position: sticky;top:0px;z-index: 99">
    <ul>
        <li>
            <a href="/contact-us">
                <i class="fas fa-info-circle"></i>
                Contact Us
            </a>
        </li>
        <li id="mybooking">
            <a href="/myfolio">
                <i class="fas fa-address-card"></i>
                myBooking
            </a>
            <script>
                if ("{{username}}" == "administrator"){
                    var forum = document.getElementById("mybooking");
                    forum.style.display = 'none';
                }
            </script>
        </li>
        <li id = "forum">
            <a href="/discussion-board">
                <i class="fas fa-comments"></i>
                Schedule Management
            </a>
            <div class="input">
                <input type="hidden" id="cookiename" name="accountName" value = {{username}}>
            </div>
            <script>

                if ("{{username}}" != "administrator"){
                    var forum = document.getElementById("forum");
                    forum.style.display = 'none';
                }

            </script>
        </li>
        <li class="dropdown">
            <a class="dropbtn" href="/user">
                <i class="fas fa-user-cog"></i>
                User Center
            </a>
            <content class="dropdown-content">
                <a href="/user/user-UD">
                    Account Management
                </a>
                <div class="input">
                    <input type="hidden" id="cookiename" name="accountName" value = {{username}}>
                </div>
                <a id="logout" href="/user/logout">
                    Log out
                </a>
                <script>
                    var logoutOptin = document.getElementById("logout");
                    var cookiename = document.getElementById("cookiename");
                    if(cookiename.value == ""){
                        logoutOptin.innerText = "Login";
                    }
                </script>
            </content>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <img class="circle" src={{photo}} width="40" height="40">
        <li class = "username">
            <a>{{username}}</a>
        </li>
    </ul>
</div>
<!-- reformed nav bar end -->

<h1>edit my folio here</h1>


<script>

</script>
<br>
<div class="container" id="interest">
    <form action="/user/sign-up/updateUserInfo" method="post">
        <div class="row">
            <h3>Personal Information</h3>
            <h4>Don't forget to save changes!<br>
                Fill in the form with some basic information of yours. Customize your own columns on the bottom of this part<br>
            </h4>

        </div>
        <div class="row">
            <div class="key">
                <label for="fname">School Name</label>
            </div>
            <div class="value">
                <input type="text" id="fname" name="firstname" placeholder="Your name.." value={{fname}}>
            </div>
        </div>
        <div class="row">
            <div class="key">
                <label for="lname">Address</label>
            </div>
            <div class="value">
                <input type="text" id="lname" name="lastname" placeholder="Your last name.." value={{lname}}>
            </div>
        </div>
        <div class="row">
            <div class="key">
                <label for="country">City</label>
            </div>
            <div class="value">
                <input type="text" id="country" name="country" value = {{country}}>
<!--                <input type="hidden" id="mycountry" name="mycountry" value = {{country}}>-->
<!--                <select id="country" name="country">-->
<!--                    <option value="Australia">Australia</option>-->
<!--                    <option value="China">China</option>-->
<!--                    <option value="Other">other</option>-->

<!--                </select>-->
<!--                <script>-->
<!--                    var x = document.getElementById("country");-->
<!--                    var i;-->
<!--                    for (i = 0; i < x.options.length; i++){-->
<!--                        if(x.options[i].value === document.getElementById("mycountry").value){-->
<!--                            x.options[i].selected = true;-->
<!--                        }-->
<!--                    }-->
<!--                </script>-->
            </div>
        </div>

        <div class="row">
            <div class="key">
                <label for="gender">State</label>
            </div>
            <div class="value">
                <input type="text" id="gender" name="gender" value = {{gender}}>
<!--                <input type="hidden" id="mygender" name="mygender" value = {{gender}}>-->
<!--                <select id="gender" name="gender">-->
<!--                    <option value="Other">other</option>-->
<!--                    <option value="Male">Male</option>-->
<!--                    <option value="Female">Female</option>-->
<!--                </select>-->
<!--                <script>-->
<!--                    var x = document.getElementById("gender");-->
<!--                    var i;-->
<!--                    for (i = 0; i < x.options.length; i++){-->
<!--                        if(x.options[i].value === document.getElementById("mygender").value){-->
<!--                            x.options[i].selected = true;-->
<!--                        }-->
<!--                    }-->
<!--                </script>-->
            </div>
        </div>

<!--        <div class="row">-->
<!--            <div class="key">-->
<!--                <label for="bday">Birthday</label>-->
<!--            </div>-->
<!--            <div class="value">-->
<!--                <input type="hidden" id="birthday" name="birthday" value = {{birthday}}>-->
<!--                <input type="date" id="bday" name="bday"-->
<!--                       value="2000-01-01"-->
<!--                       min="1950-01-01" max="2020-12-31" style="margin-top: 10px">-->
<!--                <script>-->
<!--                    if(document.getElementById("birthday").value){-->
<!--                        document.getElementById("bday").value = document.getElementById("birthday").value;-->
<!--                    }-->
<!--                </script>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row">
            <div class="key">
                <label for="occupation">Post code</label>
            </div>
            <div class="value">
                <input type="text" id="occupation" name="occupation" placeholder="Your occupation/education.." value={{occupation}}>
            </div>
        </div>


<!--school type here;-->

        <div class="row">
            <div class="key">
                <label for="schooltype">School type</label>
            </div>
            <div class="value">
                <input type="hidden" id="schooltype" name="schooltype" value = {{schooltype}}>
                <select id="schooltype1" oninput="myFunction()" name="schooltype1">
                    <option value="Hosting school">Hosting school</option>
                    <option value="Visiting school">Visiting school</option>
                </select>
                <script>

                    var x = document.getElementById("schooltype1");
                    var i;
                    for (i = 0; i < x.options.length; i++){
                        if(x.options[i].value === "{{schooltype}}"){
                            x.options[i].selected = true;
                        }
                    }
                </script>
            </div>
        </div>



<!--while is hosting school-->
        <div id="hosting">
            <div class="row">
                <div class="key">
                    <label for="SecureParking">Is secure parking present</label>
    <!--                <input type="text" id="customkey1" name="customkey1" placeholder="Title" style="width: 250px" value={{customizekey1}}>-->
                </div>

                <div class="value">
                    <input type="text" id="customvalue1" name="customvalue1" placeholder="Write something.." value={{customizeInfo1}}>
                </div>
            </div>

            <div class="row">
                <div class="key">
                    <label for="TotalCarParkingSpaces">Total car parking spaces</label>
    <!--                <input type="text" id="customkey2" name="customkey2" placeholder="Title" style="width: 250px" value={{customizekey2}}>-->
                </div>

                <div class="value">
                    <input type="text" id="customvalue2" name="customvalue2" placeholder="Write something.." value={{customizeInfo2}}>
                </div>
            </div>

            <div class="row">
                <div class="key">
                    <label for="OpenAreas">Total open areas</label>
    <!--                <input type="text" id="customkey3" name="customkey3" placeholder="Title" style="width: 250px" value={{customizekey3}}>-->
                </div>

                <div class="value">
                    <input type="text" id="customvalue3" name="customvalue3" placeholder="Write something.." value={{customizeInfo3}}>
                </div>
            </div>
            </div>

            <!--while is visiting school-->
            <div id="visiting" style="display: none">
                <div class="row">
                    <div class="key">
                        <label for="Visitingname">Visiting school name</label>
                        <!--                <input type="text" id="customkey1" name="customkey1" placeholder="Title" style="width: 250px" value={{customizekey1}}>-->
                    </div>

                    <div class="value">
                        <input type="text" id="customkey1" name="customkey1" placeholder="Write something.." value={{customizeInfo1}}>
                    </div>
                </div>

                <div class="row">
                    <div class="key">
                        <label for="NearestSchool">Nearest host school name</label>
                        <!--                <input type="text" id="customkey2" name="customkey2" placeholder="Title" style="width: 250px" value={{customizekey2}}>-->
                    </div>

                    <div class="value">
                        <input type="text" id="customkey2" name="customkey2" placeholder="Write something.." value={{customizeInfo2}}>
                    </div>
                </div>

                <div class="row">
                    <div class="key">
                        <label for="NearestDis">Distance from nearest host school</label>
                        <!--                <input type="text" id="customkey3" name="customkey3" placeholder="Title" style="width: 250px" value={{customizekey3}}>-->
                    </div>

                    <div class="value">
                        <input type="text" id="customkey3" name="customkey3" placeholder="Write something.." value={{customizeInfo3}}>
                    </div>
                </div>
            </div>
            <script>
                function myFunction(){
                    if (document.getElementById("schooltype1").value != "Hosting school"){
                        var hosting = document.getElementById("hosting");
                        hosting.style.display = 'none';
                    }

                    if (document.getElementById("schooltype1").value == "Hosting school"){
                        var hosting = document.getElementById("hosting");
                        hosting.style.display = "block";
                    }

                    if (document.getElementById("schooltype1").value != "Visiting school"){
                        var visiting = document.getElementById("visiting");
                        visiting.style.display = 'none';
                    }

                    if (document.getElementById("schooltype1").value == "Visiting school"){
                        var visiting = document.getElementById("visiting");
                        visiting.style.display = 'block';
                    }

                }

            </script>

            <div class="row">
                <div class="key">
                    <label for="bus_message">Message</label>
                </div>
                <div class="value">
                    <textarea id="subject" name="subject" placeholder="Write something.." >{{subject}}</textarea>
                </div>
            </div>

        <br><br>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
<!--        <script type="text/javascript" src = "mail.js"></script>-->
<!--        <script type="text/javascript">-->
<!--            var nodemailer = require ("nodemailer");-->
<!--            let transport = nodemailer.createTransport({-->
<!--                host:"smtp.163.com",-->
<!--                secureConnection : true,-->
<!--                port: 465,-->
<!--                secure: true,-->
<!--                auth:{-->
<!--                    user: 'spmtest2021@163.com',-->
<!--                    pass: 'DPSSYJVCYFRCNCPF'-->
<!--                }-->
<!--            });-->
<!--            let info = transport.sendMail({-->
<!--                from: '"Coder" <spmtest2021@163.com>',-->
<!--                to: "spmtest2021@163.com>",-->
<!--                subject: 'test',-->
<!--                text: '{{fname}}',-->
<!--                html:"<h1> Hello World </h1>"-->
<!--            });-->
<!--        </script>-->

        <div class="row">
            <br>
            <hr align=center width=100% color=#FFFFFF size=1>
            <br>
        </div>


    </form>
</div>



<div class="wrapper2" id="dateSet">

    <form action="../user/sign-up/updateTime" method="post">

        <input type="hidden" id="acceptanceIdd" name="acceptanceId" value = {{acceptanceId}}>
        <input type="hidden" id="fnamee" name="fname" value = {{fname}}>
        <input type="hidden" id="lnamee" name="lname" value = {{lname}}>
        <input type="hidden" id="schooltypee" name="schooltype" value = {{schooltype}}>

        <input type="hidden" id="accpID" name="accpID" value = {{startTime}}>
        Expression of Interest Acceptance ID: {{acceptanceId}}<br><br>
        School name: {{fname}}<br><br>
        School type: {{schooltype}}<br><br>
        <input type="hidden" id="accname1" name="accname1" value = {{username}}>
        <div>
            <label for="startTime">Start Date:</label>
        </div>
        <input type="hidden" id="startTime1" name="startTime1" value = {{startTime}}>
        <input type="date" id="startTime" name="startTime"
               value="{{startTime}}"
               min="2021-9-30" max="2023-12-31" style="margin-top: 10px">

        <div>
            <label for="endedTime">End Date:</label>
        </div>
        <input type="hidden" id="endedTime1" name="endedTime1" value = {{endedTime}}>
        <input type="date" id="endedTime" name="endedTime"
               value="{{endedTime}}"
               min="2021-9-30" max="2023-12-31" style="margin-top: 10px">

        <div class="row">
            <div class="key">
                <label for="specialized">Participate in Specialized activities?</label>
            </div>
            <div class="value">
                <input type="hidden" id="myspecialized" name="myspecialized" value = {{specialized}}>
                <select id="specialized" oninput="extram()" name="specialized">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <script>
                    var x = document.getElementById("specialized");
                    var i;
                    for (i = 0; i < x.options.length; i++){
                        if(x.options[i].value === document.getElementById("myspecialized").value){
                            x.options[i].selected = true;
                        }
                    }
                </script>
                <br>
                <div id="extramoney">
                    <br><br>
                    <div class="row">
                        <div class="key">
                            <label for="numOfStudent">Total students participating</label>
                        </div>
                        <div class="value">
                            <input type="text" id="numOfStudent" oninput="totalmoneyy()" name="numOfStudent" value={{numOfStudent}}>
                        </div>
                    </div>
                    <br>
                    Cost per student: 30$
                    <br><br>
                    <div class="row">
                        Total cost: <input type="text" id="totalmoney" name="totalmoney" value={{totalmoney}}>
                        <script>
                            function totalmoneyy(){
                                var totalm = document.getElementById("numOfStudent").value * 30;
                                document.getElementById("totalmoney").value = totalm;
                            }
                        </script>
                    </div>
                </div>
                <script>
                    function extram() {
                        // if (document.getElementById("specialized").value != "Yes"){
                        //     var extramoney = document.getElementById("extramoney");
                        //     extramoney.style.display = 'none';
                        // }


                        if (document.getElementById("specialized").value == "Yes"){
                            var extramoney = document.getElementById("extramoney");
                            extramoney.style.display = 'block';
                        }else if (document.getElementById("specialized").value == null){
                            var extramoney = document.getElementById("extramoney");
                            extramoney.style.display = 'block';
                        }else{
                            var extramoney = document.getElementById("extramoney");
                            extramoney.style.display = 'none';
                        }
                    }


                </script>
            </div>
        </div>



    <br>
        <br><br>
        <button type="button" onclick="showcancel()" id="but">Click to Cancel</button>
        <script>
            function showcancel(){
                var cancellation = document.getElementById("cancellation");
                cancellation.style.display = 'block';
            }
        </script>

        <div class="value" id="cancellation" style="display: none">

<!--            <button onclick="showcancel()">Cancellation</button>-->
<!--            <br><br>-->

<!--            <script>-->
<!--                function showcancel(){-->
<!--                    var cancellation = document.getElementById("cancellation");-->
<!--                    cancellation.style.display = 'block';-->
<!--                }-->
<!--            </script>-->


            <input type="hidden" id="cancel1" name="cancel1" value = {{statu}}>
            Apply for cancellation: <select id="statu" oninput="reasons()" name="statu">
                <option value="No">No</option>
                <option value="Yes">Yes</option>
            </select>

            <div class="row" id="cancelreason" style="display: none">
                <div class="key">
                    <label for="cancelReason">Cancel reason</label>
                </div>
                <div class="value">
                    <textarea id="cancelReason" name="cancelReason" placeholder="Write something..">{{cancelReason}}</textarea>
                </div>
            </div>

            <script>
                var x = document.getElementById("statu");
                var i;
                for (i = 0; i < x.options.length; i++){
                    if(x.options[i].value === document.getElementById("cancel1").value){
                        x.options[i].selected = true;
                    }
                }
            </script>

            <script>
                function reasons() {
                    if (document.getElementById("statu").value != "Yes"){
                        var cancellation = document.getElementById("cancelreason");
                        cancellation.style.display = 'none';
                    }


                    if (document.getElementById("statu").value == "Yes"){
                        var cancellation = document.getElementById("cancelreason");
                        cancellation.style.display = 'block';
                    }
                }
            </script>
        </div>
        <script>

            if (document.getElementById("specialized").value != ""){
                var but = document.getElementById("but");
                but.style.display = 'block';
            }
        </script>

        <br><br><br><br><br><br><br><br>
        <button type = submit>Save</button>
    </form>
</div>
<script>
    if (document.getElementById("startTime").value == ""){
        var sec = document.getElementById("dateSet");
        sec.style.display = 'none';
    }else{
        var interest = document.getElementById("interest");
        interest.style.display = 'none';
    }
</script>



